
header{
    background-color: cornflowerblue;
    background-image: url('../img/pattern.png');
    height: 100px;
    background-size:contain;
    background-repeat: repeat-x
    ;
    }


.logo{
    margin-bottom: 0;
    margin-left: 0;
    width: 200px;
    height: 130px;
    }
    