
header{
    background-color: cornflowerblue;
    background-image: url('../img/pattern.png');
    height: 100px;
    background-size:contain;
    background-repeat: repeat-x
    ;
    }


.logo{
    width: 200px;
    height: 130px;
    }
   body{
    margin: 0%;
   }
   .bool{
    color: blue;

   }
   h1{
   margin-top: 8px;
   margin-bottom: 4px;
   }
    